@if (auth.isAuthenticated$ | async){
<main>
    <header class="brand-name">
      <!-- <img class="brand-logo" src="./assets/favicon/icons8-vegetables-box-pastel-color-32.png" alt="EasyGrow" aria-hidden="true"> -->
      <h1>
        <a href="/home-dashboard">EazyGrow</a>
      </h1>
      <app-crop-farm-selector-toolbar class="toolbar-center"></app-crop-farm-selector-toolbar>
    </header>
    <div class="layout">
    <app-sidebar class="sidebar-left"></app-sidebar>
    <div class="content-wrapper">
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </div>
    </div>
    <footer>
      <!-- <p>© 2025 EazyGrow. All rights reserved.</p> -->
    </footer>
  </main> 
} @else {
<div class="auth-wrapper">
  <router-outlet></router-outlet>
</div>
}