@if (!isLoggedIn) {
  <router-outlet></router-outlet>
}
@if (isLoggedIn) {
<main>
    <header class="brand-name">
      <!-- <img class="brand-logo" src="./assets/favicon/icons8-vegetables-box-pastel-color-32.png" alt="EasyGrow" aria-hidden="true"> -->
      <h1>
        <a href="/home-dashboard">EasyGrow</a>
      </h1>
      <app-crop-farm-selector-toolbar class="toolbar-right"></app-crop-farm-selector-toolbar>
    </header>
    <div class="layout">
    <app-sidebar class="sidebar-left"></app-sidebar>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    </div>
    <footer>
      <!-- <p>© 2025 EasyGrow. All rights reserved.</p> -->
    </footer>
  </main> 
}