<!-- <mat-card> -->
  <!-- <mat-card-header>
    <mat-card-title>Add Activity for Crop - {{selectedCropName}}</mat-card-title>
  </mat-card-header> -->
  
  <!-- <div *ngIf="selectedCropFarm as sel">
  <p>Farm: {{ sel.farmName }} ({{ sel.farmId }})</p>
  <p>Crop: {{ sel.cropName }} ({{ sel.cropId }})</p>
</div> -->
  
  <!-- <mat-card-content> -->
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <!-- DateTime Field -->
      <!-- <mat-form-field appearance="outline">
        <mat-label>Date & Time</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateTime">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

      <!-- Activity Type -->
      <mat-form-field appearance="outline">
        <mat-label>{{ 'activity.activityTypeLabel' | translate }}</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of activityTypes" [value]="type.value">
            {{ type.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Spray Details (conditional) -->
       @if (showAdditionalFields) {
        <div>
        <!-- <h4>Spray Details</h4> -->
        <mat-form-field appearance="outline">
          <mat-label>{{'activity.productNameLabel' | translate }}</mat-label>
          <input matInput formControlName="productName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'activity.quantityLabel' | translate }}</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field>
      </div>
       }

      <!-- Message -->
      <mat-form-field appearance="outline">
        <mat-label>{{'common.messageOrNotes' | translate }}</mat-label>
        <textarea matInput formControlName="message" rows="3"></textarea>
      </mat-form-field>

      <!-- QR Scanner -->
       <!-- @if (scanMode) { -->
        <div id="scanner-container" class="scanner-container"></div>
       <!-- } -->
      
      @if (qrResult) {
        <div class="scan-result">
        ✅ {{ 'common.scannedLabel' | translate }}: {{ qrResult | slice:0:50 }}...
      </div>
      }
      

      
      

      <!-- Actions -->
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!activityForm.valid">
          {{ 'common.add' | translate }}
        </button>
        <!-- <button mat-stroked-button type="button" (click)="toggleScanMode()">
          {{ scanMode ? 'common.switchToManual' : 'common.scanQRCode' | translate}}
        </button> -->
        <button mat-stroked-button type="button" (click)="toggleScanMode()">
          {{ buttonLabel | translate }}
        </button>
        <button mat-button type="button" (click)="reset()">
          {{ 'common.reset' | translate }}
        </button>
      </div>
    </form>
  <!-- </mat-card-content>
</mat-card> -->
